*{
   font-family: sans-serif;

}
.cod{
    padding: 10px;
    color: black;
    max-width: 800px;
    margin:5px auto;
    border-radius: 5px;
    border: 3px solid darkgrey;
}
..documentSection{
    background-color: lightskyblue;
    background-size: cover;
    color:black;
}

.documentSection > h5{
  color: white;
  font-weight: bolder;
  margin: 10px;
}

.documentSection > h4{
  color: white;
  font-weight: bolder;
  margin: 10px;
}

body{
     background-color: #212121;
    overflow-x: hidden;
}
.card{
    width:20rem; margin:5px 10px;
}
.cabecalho{
    padding: 5px;
}
#menu ul li a{
    font-weight: lighter;
    font-size: 15px;
}
#menu ul li a:hover{
    background-color: #b2dfdb;
}
#menu ul li a:active{
    background-color: #b2dfdb;
}
.sectionCard{
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}
.newslatter{
    padding: 5rem 0;
    width: 100%;
    background: url('../img/13.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    text-align: center;
}
#newsTema h4{
    font-size: 3.5rem;
    color: white;
}
#newsParagrafo p{
 color: white;
    font-size: 1.2rem;
    font-style: italic;
}
#newsFormulario{
    max-width: 100%;
    margin: 0px auto;
}
#newsFormulario form{
    width: 100%;
    position: relative;
}
#newsFormulario form #formInput{
    width: 50rem;
    height: 50px;
    text-indent: 10px;
    outline: none;
    border-radius: 10px;
   border: 2px solid #827717;
}
.planSection{
    padding-left: 10px;
}
#newsFormulario form button{
    width: 100px;
    position: absolute;
    height: 50px;
    border: none;
    border-radius: 10px;
    outline: none;
    top: 0;
    right: 0;
     border: 2px solid #827717;
     border-left: none;
     background: #424242;
     color: white;
     text-transform: uppercase;
}

.addSection{
    color: black;
    padding: 30px;
    font-size: 20px;
}
.ppaymentSection > div {
    margin-top: 3px;
}
.addSection table tbody tr:hover{
    background-color: #81c784 ;
}
.addSection table tbody tr:nth-child(even){
    background-color: #a5d6a7;
}



.footer{
    padding: 2rem 10px;
    font-size: 1.2rem;
    text-align: center;
    color: white;
    background: #263238;
}
.footer-SocialMedia > div{
    margin: 5px;
    text-align: left;
    font-size: 15px;
   font-family: Courier New Monospace Lucida Console;
}
.firstSecction{
    position: relative;
      height: 500px;
    display: flex;
    background: url('../img/001.jpg') repeat;
      background-size: cover;
    background-position: center;
    background-origin: padding-box;
    background-clip:padding-box;
    flex-direction: row;
    justify-content: left;
    justify-items: left;
    justify-self: left;
    text-align: left;
}
.firstSecction > div{
    background:rgba(180, 180, 180, 0.5) ;
    height: 300px;
    margin: 10px;
      width: 500px;
  padding: 2rem 1.5rem 2px 2rem;
  text-align: left;
  color: white;
  font-size: 1.5rem;
}

.firstSecction > a{
    position: absolute;
    bottom: 200px;
    left: 50px;
}
.secondSection{
    margin-top: 5px;
    height: auto;
     position: relative;
}
.secondSection > div{
    height: 100%;
    width: 100%;
    color: white;
    font-size: 2rem;
}

.secondSection > div:last-child p{
padding: 20px;
margin-bottom: 50px;
font-family: sans-serif;
margin: 5px;
background-origin: content-box;
background-position: center;
background-size: cover;
font-size: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.footer{
    padding: 2rem 20px;
    font-size: 20px;
    text-align: left;
    color: white;
    background: #263238;
}

.footer-SocialMedia > div{
    margin: 5px;
    text-align: left;
    font-size: 20px;
   font-family: Courier New Monospace Lucida Console;
}

#newsFormulario form #formInput{
    width: 27rem;
    height: 50px;
    text-indent: 10px;
    outline: none;
    border-radius: 10px;
   border: 2px solid #827717;
}
.card{
    width: 97%;
    margin:5px auto;
}
.planSection{
    padding-left: 0;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}
